extends layout

block content
  .jumbotron.jumbotron-image
    h1 Welcome to #{title}
    p Some posts from the block.

  .lead This is just an example of extremely simple blog build on the foundation of MEAN blocks.
