.post-section {
  margin-bottom: 60px;
}

.jumbotron-image {
  background: url('/images/block.jpg') no-repeat center center;
}

.jumbotron {
  color: #5bc0de;
}

.editor {
  overflow:scroll; 
  max-height:300px;
}