.post-section {
  margin-bottom: 2em;
}
.jumbotron-image {
  background: url('/images/block.jpg') no-repeat center center;
}
.jumbotron {
  color: black;
  font-weight: bolder;
}
@media (max-width: 767px) {
  p.navbar-text {
    margin: 0;
    padding: 10px 15px;
  }
  .navbar li {
    overflow: hidden;
  }
}
